html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/18px Arial, Times, sans-serif;
	background-color: #fff;
	padding: 100px;
}

ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ------ STYLE SELECT ----------------  */
/* Основная часть */
.cusel {
	position: relative;
	z-index: 1;
	display: inline-block;
	height: 30px;
	font-size: 14px;
	border: 1px solid #c6dade;
	border-radius: 5px;
	background: #fff;
	vertical-align: middle;
	cursor: pointer;
}
/* Стрелочка справа */
.cuselFrameRight {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 41px;
	background: url(../img/select_bg_arrow.png) no-repeat center;
}
/* Текст в селекте */
.cuselText {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 30px;
	padding: 0 5px 0 15px;
	font-size: 12px;
    line-height: 30px;
    color: #437182;
    cursor: pointer;
	overflow: hidden;
}
* html .cuselText {height: 30px;}

/* Оформление пунктов списка */
.cusel span {
	display: block;
	padding: 5px 15px;
	font-size: 14px;
	color: #333;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
}

/* Оформление пунктов списка при наведении*/
.cusel span:hover,
.cusel .cuselOptHover { background: #eee;}

/* Оформление активного пункта списка  */
.cusel .cuselActive,
.cusel .cuselActive:hover { background: #d2edf4;}

/* Оформление селекта при наведении и клике */
.cusel:hover,
.cusel:focus,
.cuselFocus {background:#fff;}

/* Оформление стрелки при наведении и клике */
.cusel:hover .cuselFrameRight,
.cusel:focus .cuselFrameRight,
.cuselFocus .cuselFrameRight {
	background: #fff url(../img/select_bg_arrow.png) no-repeat center;
}

/* видимость выпадающего списка */
.cuselOpen {z-index: 999;}

/* Оформление селекта и стрелки disabled */
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../img/select_bg_arrow.png) no-repeat center;
	cursor: default;
	color: #ccc;
}
/* Оформление текста в селекте когда он disabled */
.classDisCusel .cuselText {
	cursor: default;
	color: #ccc;
}

/* Оформление выпадающего списка */
.cusel .cusel-scroll-wrap {
	position: absolute;
	left: 0;
	top: 100%;
	display: block;
	min-width: 100%;
	width: auto;
	height: auto !important;
	visibility: hidden;
	margin-top:5px;
	padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
	background: #fff;
	overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.cusel .jScrollPaneContainer {
	position: relative;
	z-index: 5;
	overflow: hidden;
    background: #fff;
}
/* блок для элементов списка с отступом справа для скролла */
.cusel-scroll-pane {
	top: 5px;
	right: 3px;
	left: 0;
	width: auto !important;
}

/* Линия по которой будет проходить скролл */
.cusel .jScrollPaneTrack {
	position: absolute;
	top: 0;
	right: 2px;
	height: 100%;
	width: 5px !important;
	background: #EEE;
}

/* кнопка для скролла */
.cusel .jScrollPaneDrag {
	position: absolute;
	left: 0px;
	width: 5px !important;
	height: 27px !important;
	background: #6E939E;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
}

/* эти 2 стиля не трогаем */
.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 0 !important;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0 !important;
	overflow: hidden;
}

/* Стрелка вверху для скролла */
.cusel .jScrollArrowUp {
	position: absolute;
	top: 0;
	right: 4px;
	width: 0 !important;
	height: 0;
	cursor: pointer;
	overflow: hidden;
}

/* Стрелка внизу для скролла */
.cusel .jScrollArrowDown {
	width: 0 !important;
	height: 0;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 4px;
	cursor: pointer;
	overflow: hidden;
}
